.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.gallery img {
	object-fit: cover;
	width: 320px;
	height: 200px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.2s;
	margin: 10px;
	cursor: pointer;
}

.gallery img:hover {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.gallery-header p {
	text-align: center;
}

.gallery-header hr {
	width: 80%;
	margin: 0 auto;
}

.main-section-other .medium {
	font-size: 1.2em;
	text-align: center;
}

.image-hover {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.image-toolbar {
	width: 100%;
	height: 40px;
	padding: 10px 5px;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
}

.image-toolbar .toolbar-close {
	background: none;
	color: #fff;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.toolbar-close {
	margin-left: auto;
	margin-right: 5px;
}

.image-shown {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.plus,
.minus {
	position: absolute;
	top: 50%;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px;
	border: none;
	cursor: pointer;
	outline: none;
	color: #fff;
	transition: all 0.5s;
}

.plus:hover,
.minus:hover {
	background: #000;
}

.minus {
	left: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.plus {
	right: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.counter {
	font-family: "Lato";
}

@media (max-width: 700px) {
	.gallery img {
		width: 90%;
	}
}

@media (max-width: 320px) {
	.gallery img {
		width: 90%;
		height: auto;
	}
}
