.organisators,
.companies {
	display: flex;
	justify-content: space-evenly;
	align-items: top;
	flex-wrap: wrap;
}
.single-organisator {
	width: 40%;
	text-align: center;
	margin: 20px;
}

.single-organisator p {
	margin: 10px 0;
}

.single-organisator .big {
	text-align: center;
}

.single-organisator .medium {
	text-align: justify;
}

.single-organisator img {
	object-fit: contain;
	width: 350px;
	height: 150px;
	background: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s;
	text-align: center;
}

.organisator-sabit {
	display: flex;
	justify-content: top;
	align-items: center;
	flex-direction: column;
}

.single-organisator .logo-sabit {
	width: 100%;
	width: 350px;
	height: 150px;
	background: #fff;
	border-radius: 5px;
	padding: 10px 20px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.single-organisator img:hover,
.single-organisator .logo-sabit:hover {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 910px) {
	.single-organisator {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.single-organisator img {
		width: 80%;
	}
	.single-organisator .logo-sabit {
		width: 80%;
		height: auto;
		font-size: 0.8em;
	}
}
