.main-section-practice {
	margin: 104px 0 20px 0;
}

.speciality-btns {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.speciality-btns button {
	margin: 0;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding: 20px 40px;
	cursor: pointer;
	transition: all 0.5s;
	font-weight: 800;
}

.speciality-btns button:hover {
	background: #000;
}

.speciality-btns .it-btn {
	border-top-left-radius: 360px;
	border-bottom-left-radius: 360px;
}

.speciality-btns .auto-btn {
	border-top-right-radius: 360px;
	border-bottom-right-radius: 360px;
}

.ele-div,
.auto-div {
	display: none;
	text-align: center;
}

.it-div {
	display: block;
	text-align: center;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
