.preparation-div {
	margin: 10px 50px;
}

.preparation-div .big {
	text-align: center;
}

.preparation-div .medium {
	text-align: justify;
}

@media (max-width: 670px) {
	.speciality-btns {
		display: block;
		text-align: center;
	}
	.speciality-btns .it-btn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.speciality-btns .auto-btn {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.speciality-btns button {
		width: 75%;
		height: auto;
	}
}

@media (max-width: 570px) {
	.preparation-div {
		margin: 20px 10px;
	}
}
