.prep-div {
	margin: 20px 50px;
}

.prep-desc .prep-main {
	width: 50%;
}

.prep-desc .prep-sub {
	width: 50%;
	height: 100%;
}

.prep-desc .prep-sub img {
	width: 75%;
	height: auto;
}

.prep-desc div .medium {
	width: 100%;
	text-align: justify;
}

.slide-from-bottom {
	animation: slide;
	animation-duration: 1s;
}

@keyframes slide {
	from {
		opacity: 0.4;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 900px) {
	.prep-desc {
		display: block;
	}
	.prep-main {
		width: 100% !important;
	}
	.prep-sub {
		width: 100% !important;
	}
}

@media (max-width: 350px) {
	.prep-div {
		margin: 20px 10px;
	}
}
