@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
	font-family: "PoppinsLight";
	src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
	font-family: "PoppinsBold";
	src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/static/OpenSans-Bold.ttf");
}

:root {
	--main-green: #22c52a;
	--second-green: #1fa823;
	--main-red: #e02c41;
	--second-red: #bf2537;
	--main-bg: #efefef;
	--light: #f8f9fa;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	line-height: 1.5;
	background: var(--main-bg);
}

.giant {
	font-family: "PoppinsBold";
	font-size: 5em;
	letter-spacing: -2.4px;
	font-weight: 800;
	margin: 0;
	line-height: 0.8;
	text-wrap: wrap;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	color: var(--light);
}

.giant-top,
.giant-bottom {
	color: var(--light);
	background: radial-gradient(var(--second-green) 0%, var(--main-green) 100%);
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
}

.giant-bottom {
	background: radial-gradient(var(--second-red) 0%, var(--main-red) 100%);
}

.bigger {
	font-size: 2em;
	text-align: center;
	font-weight: 600;
	overflow: hidden;
	background-image: linear-gradient(
		90deg,
		rgba(224, 44, 65, 1) 25%,
		rgba(34, 197, 42, 1) 100%
	);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	position: relative;
}

.big {
	font-family: "OpenSans";
	font-size: 1.5em;
	overflow: hidden;
}

.medium-color {
	background: var(--second-green);
	background: linear-gradient(
		90deg,
		var(--second-green) 0%,
		var(--main-green) 100%
	);
	padding: 10px 20px;
	border-radius: 360px;
	text-align: center;
	color: var(--light);
	font-weight: 800;
	min-width: 250px;
	font-size: 1.5em;
	margin: 10px;
}

.medium {
	font-size: 1em;
}

.small {
	font-family: "PoppinsLight";
	font-size: 0.8em;
}

hr {
	outline: none;
	z-index: -2;
	position: relative;
}

.header {
	width: 100%;
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 84px;
	z-index: 100;
}

.header .logo {
	text-decoration: none;
	margin: 0;
	margin-left: 20px;
	flex-wrap: nowrap;
	max-height: 46px;
}

.logo .logo-left {
	align-self: stretch;
	background: var(--light);
	padding: 5px;
	border-radius: 10px 0 0 0;
}

.logo .logo-left img {
	max-height: 30px;
	margin: 0 3px;
}

.logo .logo-center {
	align-self: stretch;
	background: var(--main-red);
	color: var(--light);
	padding: 5px;
}

.logo .logo-right {
	align-self: stretch;
	background: var(--main-green);
	color: var(--light);
	padding: 5px;
	border-radius: 0 0 10px 0;
}

.nav-bar {
	height: 100%;
	margin-right: 50px;
	display: flex;
	flex-wrap: wrap;
	transition: left 0.6s;
}

.nav-other {
	width: 115px;
	position: relative;
}

.nav-other .other-btn {
	width: 115px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.other-dropdown {
	position: absolute;
	overflow: hidden;
	left: -95px;
	margin: 3px 0 0 0;
	padding: 0 5px;
	max-height: 0;
	width: 200px;
	transition: all 0.3s ease-in;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.8);
}

.other-dropdown button {
	background: var(--main-bg);
	overflow: hidden;
	height: 50px;
	padding: 0 10px;
	width: 100%;
	border-radius: 12px;
}

.nav-btn {
	width: 125px;
	height: 100%;
	border: none;
	background: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.95em;
	color: #000;
	transition: background 0.3s, color 0.3s;
	font-family: "PoppinsLight";
}

.nav-btn:hover {
	background: rgba(0, 0, 0, 0.8) !important;
	color: var(--light) !important;
}

.menu-container {
	display: none;
	height: 100%;
}

#menu-checkbox {
	display: none !important;
}

#menu-checkbox:checked ~ .menu-navicon .navicon:before,
#menu-checkbox:checked ~ .menu-navicon .navicon:after,
#menu-checkbox:checked ~ .menu-navicon .navicon {
	width: 36px;
	background: #fff;
}

#menu-checkbox:checked ~ .menu-navicon {
	background: rgba(0, 0, 0, 0.8);
}

.menu-navicon {
	cursor: pointer;
	height: 100%;
	width: 72px;
	border: none;
	outline: none;
	background: #fff;
	transition: background 0.3s;
}

.menu-navicon:active {
	background: rgba(0, 0, 0, 0.8);
}

.navicon {
	background: #333;
	display: block;
	height: 3px;
	position: relative;
	transition: background 0.2s ease-out;
	width: 36px;
	transition: background 0.3s;
	margin-left: 12px;
}

.navicon:before,
.navicon:after {
	background: #333;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
}

.navicon:before {
	width: 12px;
	top: 7px;
}

.navicon:after {
	width: 24px;
	top: -7px;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 100%;
	object-position: 100% 0;
	overflow: hidden;
	z-index: -1;
}

.background1 {
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	width: 300px;
	height: auto;
	left: 0;
	top: 80px;
	z-index: -1;
}

.background2 {
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	width: 300px;
	height: auto;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.main-section {
	margin-top: 84px;
	position: relative;
	height: 640px;
}

.main-section-other {
	margin: 104px 0 20px 0;
}

.carousel-wrapper {
	height: 100%;
	position: relative;
}

.bg-small {
	display: none;
}

.white-bg {
	background: var(--main-bg);
	width: 100%;
}

.main-desc {
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.desc-right,
.main-right {
	margin: 20px;
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-images {
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-images div {
	position: relative;
	width: 640px;
	height: auto;
	max-width: 890px;
	display: none;
}

.carousel-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.carousel-div .text {
	color: var(--light);
	font-weight: 800;
	text-shadow: #000 0px 0px 2px;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.dot-div {
	position: absolute;
	bottom: -20px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.statistics {
	padding: 60px 0;
}

.single-stat {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: var(--second-green);
	background: radial-gradient(
		circle,
		var(--second-green) 0%,
		var(--main-green) 100%
	);
	border: none;
	border-radius: 15px;
	padding: 15px 30px;
	margin: 10px;
	max-width: 230px;
	box-shadow: 1px 1px 4px #7a7a7a;
	transition: transform 0.3s ease-out;
}

.single-stat:hover {
	transform: scale(1.05);
}

.single-stat img {
	margin: 0 20px 0 0;
}

a:link {
	text-decoration: none !important;
}

.single-stat div .text-one {
	font-size: 1.2em;
	font-family: "PoppinsBold";
	color: var(--light);
	margin: 0;
}

.single-stat div .text-two {
	font-size: 1em;
	margin: 0;
	color: var(--light);
	line-height: 1.1;
}

.description {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.desc-wrapper {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 40px 20px;
}

.hide {
	opacity: 0;
}

.desc-div-one,
.desc-div-two,
.desc-div-three {
	margin: 10px;
	padding: 30px 20px;
	border-radius: 15px;
	box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
		0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.desc-div-one {
	background: var(--second-green);
	background: linear-gradient(
		90deg,
		var(--second-green) 0%,
		var(--main-green) 100%
	);
	width: 100%;
}

.desc-div-two {
	background: rgba(0, 0, 0, 0.8);
	flex: auto;
	max-width: 100%;
}

.desc-div-two .medium {
	color: var(--light);
}

.desc-div-four {
	height: calc(100% - 20px);
	min-width: 20%;
	max-width: 100%;
	flex: 1;
	border-radius: 15px;
	margin: 10px;
	box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
		0px 1px 3px 1px rgba(60, 64, 67, 0.15);
	background: none;
}

.desc-div-four img {
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	border-radius: 15px;
	object-fit: cover;
}

.desc-div-three {
	background: var(--second-red);
	background: linear-gradient(
		90deg,
		var(--second-red) 0%,
		var(--main-red) 100%
	);
	width: auto;
	max-width: 100%;
}

.desc-div-three .medium {
	font-weight: 700;
	color: var(--light);
}
.desc-div-three .small {
	color: var(--light);
}

.desc-header {
	color: var(--light);
	font-weight: 600;
}

.desc-desc {
	color: var(--light);
}

.goals div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	text-align: center;
	padding: 10px 20px;
}

.footer img {
	width: 80%;
}

.authors {
	color: #a7a7a7;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.slide-from-bottom {
	animation: slide;
	animation-duration: 1.2s;
}

@keyframes slide {
	from {
		opacity: 0.4;
		transform: translateY(500%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.slide-in {
	animation-name: slide-in;
	animation-duration: 1s;
}

.slide-in2 {
	animation-name: slide-in2;
	animation-duration: 1.5s;
}

@keyframes slide-in2 {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slide-in {
	from {
		opacity: 0.4;
		transform: translateX(-100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.slide-out {
	animation-name: slide-out;
	animation-duration: 1.5s;
}

@keyframes slide-out {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@media (max-width: 1117px) {
	.nav-bar {
		margin-right: 10px;
	}
	.other-dropdown {
		width: 160px;
		left: -50px;
	}
	.main-desc {
		flex-wrap: wrap;
	}
	.main-right {
		width: 100%;
	}
	.carousel-images div {
		width: 100%;
	}
}

@media (max-width: 1065px) {
	.desc-div-four,
	.desc-div-four img {
		height: auto;
		box-shadow: none;
	}
}

@media (max-width: 990px) {
	.nav-bar {
		position: absolute;
		width: 100%;
		top: 84px;
		left: -950px;
	}
	.menu-container {
		display: block;
	}
	.nav-other {
		float: left;
		width: 100%;
		height: 50px;
	}

	.other-dropdown {
		margin: 50px 0 0 0;
		width: calc(100% - 10px);
		font-size: 1em;
		left: 0;
	}

	.nav-other .other-btn {
		width: 100%;
		height: 50px;
	}
	.nav-btn {
		float: left;
		width: 100%;
		height: 50px;
		background: rgba(255, 255, 255, 0.8);
	}
	.header-anchor {
		float: left;
		width: 100%;
	}
	.background1,
	.background2 {
		width: 30vw;
		height: auto;
	}
	.bg-big {
		display: none;
	}
	.bg-small {
		display: block;
	}
}

@media (max-width: 430px) {
	.giant {
		font-size: 2.5em;
	}
	.logo {
		font-size: 1em;
	}
	.main-section {
		padding: 0;
	}

	.medium-color {
		font-size: 1em;
	}
	.bg-small {
		margin-top: 84px;
	}
	.single-stat {
		max-width: none;
		width: 200px;
	}

	.text.big {
		font-size: 1em;
	}
}

@media (max-width: 330px) {
	.medium-color {
		font-size: 5vw;
		min-width: 10px;
	}
}

@media (max-width: 240px) {
	.giant {
		font-size: 15.6vw;
	}
	.bigger {
		font-size: 13vw;
	}
	.big {
		font-size: 8.6vw;
	}
	.medium,
	.logo {
		font-size: 6.6vw;
	}
	.small {
		font-size: 5.3vw;
	}
	.stat-header {
		font-size: 7.6vw;
	}
	.stat-icon-wrapper * {
		width: 60vw;
		height: 60vw;
	}

	.stat-icon-wrapper .stat-icon img {
		width: 67%;
		height: auto;
	}

	ul.small.desc-desc {
		margin: 0;
		padding: 0;
	}

	.desc-div-four img {
		width: 80vw;
		height: auto;
		overflow: hidden;
	}

	.desc-div-two,
	.desc-div-one {
		overflow: hidden;
	}
	.desc-div-two {
		overflow: hidden;
		margin: 10px 0;
		padding: 30px 10px;
	}
}
